// Here you can add other styles
body {
  font-family: "IRANSans" !important;
  text-align: right;
}

.table {
  thead{
    tr{
      th{
        text-align: center;
        div{
          text-align: center;
        }
      }
    }
  }
}

.pointer{
  cursor: pointer;
}